body
{
	margin:0 0 0 0;
	background-color:black;
}

#header
{
width: 100%;
height: 16vw;
background-color:black;
display:grid;
}

@media only screen and (max-width:720px)
{
	#header
	{
		grid-template-columns:100%;
		grid-template-rows:40% 15% 15% 15% 15%;
		height:50vh;
		text-align:center;
	}
}

@media only screen and (min-width:721px)
{
	#header
	{
		grid-template-columns:30% 17% 17% 17% 17%;
		grid-template-rows:100%;
	}
}

.headerLogo
{
	margin-top:auto;
	margin-bottom:auto;
	margin-left: 20px;
}

.headerLogo > a > img
{
	width:15vw;
	height:auto;
}

@media only screen and (max-width:720px)
{
	.headerLogo > a > img
{
	width:15vw;
	height:auto;
}
}

/*
.headerLogo > a > img:hover
{
	box-shadow: inset 10px 10px purple;
}
*/

.headerLink
{
	margin-top:auto;
	margin-bottom:auto;
}

.headerLink > a > h1
{
	color:white;
    font-family:omegaforce_outlineregular;
	font-size:2vw;
}

@media only screen and (max-width:720px)
{
	.headerLink > a > h1
{
	color:white;
    font-family:omegaforce_outlineregular;
	font-size:5vw;
}
	
}

a:link
{
	text-decoration:none;
	color:black;
}

a:hover > h1
{
	text-decoration:none;
	color:#55489D;
}



a:active
{
	text-decoration:none;
	color:#55489D;
}

a:visited
{
	text-decoration:none;
	color:black;
}

#main
{
	text-align:center;
	background-color:black;
}

@media only screen and (max-width:1079px)
{
	#main
	{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
}

@media only screen and (min-width:1080px)
{
	#main
	{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
}

#main > h1
{
	text-align:center;
	color:white;
    font-family:Gotham, Helvetica, Arial;
	font-size:4vw;
}

@media only screen and (max-width:1079px)
{
	#main > h1
	{
		font-size:7vw;
	}
}

#main > h2
{
	text-align:left;
	color:white;
    font-family:Gotham, Helvetica, Arial;
	font-size:3vw;
}

@media only screen and (max-width:1079px)
{
	#main > h2
	{
		font-size:5vw;
	}
}

#main > p 
{
	text-align:left;
	color:white;
    font-family:Gotham, Helvetica, Arial;
	font-size:2vw;
}

@media only screen and (max-width:1079px)
{
	#main > p
	{
		font-size:4vw;
	}
}

#main > p > a
{
	text-decoration:underline;
	color:white;
}










































#quickLinks
{
 width:80%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #quickLinks
 {
  width:85%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
 }
}

@media only screen and (min-width:1081px)
{
 #quickLinks
 {
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:2vh;
 }
}

#qlGrid
{
 display:grid;
 grid-template-columns:50% 50%;
 justify-content:center;
 grid-template-rows:auto auto auto;
 text-align:center;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #qlGrid
 {
  display:grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows:auto auto;
  justify-content:center;
  text-align:center;
 }
}

@media only screen and (min-width:1081px)
{
 #qlGrid
 {
  display:grid;
  grid-template-columns:16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows:auto;
  justify-content:center;
 }
}

.qlLogo
{
 width:50%;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:10vh;
}

#footer
{
 width:100%;
 background-color:#55489d;
 height:20vh;
 display:grid;
 grid-template-columns:100%;
 grid-template-rows:33% 33% 33%;
 justify-content:center;
}

@media only screen and (min-width:1081px)
{
 #footer
 {
  display:grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows:100%;
  justify-content:center;
  height:10vh;
 }
}

#footer > div
{
 text-align:center;
}


#footer > div > p > a
{
 color:white;
 font-size:20px;
 font-family:Gotham, Helvetica, Arial;
}

#footer > div > p > a:link
{
 text-decoration:none;
}

#footer > div > p > a:visited
{
 color:white;
 text-decoration:none;
}

#footer > div > p > a:hover
{
 color:#FFFA85;
 text-decoration:none;
}

#footer > div > p > a:active
{
 color:#FFFA85;
 text-decoration:none;
}

/* ------------------------------------Fonts------------------------------------- */

@font-face {
    font-family: 'omegaforce_3d_italicitalic';
    src: url('//midnightmonsters.net/css/fonts/omegaforce3ditalic-0err-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforce3ditalic-0err-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_3dregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforce3dregular-4ovx-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforce3dregular-4ovx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_bullet_italicIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforcebulletitalic-weae-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcebulletitalic-weae-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_bulletregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforcebulletregular-ezy6-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcebulletregular-ezy6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_condensedcondensed';
    src: url('//midnightmonsters.net/css/fonts/omegaforcecondensed-az1r-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcecondensed-az1r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_condensed_italCnIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforcecondenseditalic-emen-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcecondenseditalic-emen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_expandedexpandedIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforceexpandeditalic-z3am-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceexpandeditalic-z3am-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_expandedexpanded';
    src: url('//midnightmonsters.net/css/fonts/omegaforceexpanded-ox94-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceexpanded-ox94-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_gradient_italicIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforcegradientitalic-xzqk-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcegradientitalic-xzqk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_gradientregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforcegradientregular-3e2l-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcegradientregular-3e2l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_halftone_3d_italIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforcehalftone3ditalic-ab1l-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcehalftone3ditalic-ab1l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_halftone_3dregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforcehalftone3dregular-d98w-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcehalftone3dregular-d98w-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'omegaforce_halftone_italicIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforcehalftoneitalic-qzd2-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcehalftoneitalic-qzd2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_halftoneregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforcehalftoneregular-pzlk-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcehalftoneregular-pzlk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_italicitalic';
    src: url('//midnightmonsters.net/css/fonts/omegaforceitalic-vaez-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceitalic-vaez-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_laser_italicitalic';
    src: url('//midnightmonsters.net/css/fonts/omegaforcelaseritalic-g2mq-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcelaseritalic-g2mq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_laserregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforcelaserregular-j7va-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcelaserregular-j7va-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_leftalicitalic';
    src: url('//midnightmonsters.net/css/fonts/omegaforceleftalic-jzqr-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceleftalic-jzqr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_outline_italicIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforceoutlineitalic-5zkb-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceoutlineitalic-5zkb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_outlineregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforceoutlineregular-zz10-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceoutlineregular-zz10-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforceregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforceregular-ozpa-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforceregular-ozpa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_twotone_italicIt';
    src: url('//midnightmonsters.net/css/fonts/omegaforcetwotoneitalic-yznm-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcetwotoneitalic-yznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_twotoneregular';
    src: url('//midnightmonsters.net/css/fonts/omegaforcetwotoneregular-632g-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/omegaforcetwotoneregular-632g-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('//midnightmonsters.net/css/fonts/lanenar-webfont.woff2') format('woff2'),
         url('//midnightmonsters.net/css/fonts/lanenar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

