.logo
{
 width:100%;
}

.logo
{
 width:100%;
}
body
{
	margin: 0;
	background-color:#55489d;
}
#land
{
 height:100vh;
 width:100%; 
 background-image:linear-gradient(#000000, #55489d);
}

#headText
{
 text-align:center;
}



#headText > h1
{
 display:inline-block;
 font-family:Gotham, Helvetica, Arial;
 font-size:4vw;
 text-align:center;
 color: white;
 width:80%;
}
@media only screen and (min-width:721px) and (max-width:1080px)
{
 #headText > h1
 {
  font-size:2.5vw;
  width:85%;
 }
}

@media only screen and (min-width:1081px)
{
 #headText > h1
 {
  font-size:2vw;
  width:90%;
 }
}

#quickLinks
{
 width:80%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #quickLinks
 {
  width:85%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
 }
}

@media only screen and (min-width:1081px)
{
 #quickLinks
 {
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:2vh;
 }
}

#qlGrid
{
 display:grid;
 grid-template-columns:50% 50%;
 justify-content:center;
 grid-template-rows:auto auto auto;
 text-align:center;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #qlGrid
 {
  display:grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows:auto auto;
  justify-content:center;
  text-align:center;
 }
}

@media only screen and (min-width:1081px)
{
 #qlGrid
 {
  display:grid;
  grid-template-columns:16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows:auto;
  justify-content:center;
 }
}

.qlLogo
{
 width:50%;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:10vh;
}

/*#below
{
 height:100vh;
 background-image:linear-gradient(#000000, #55489d)
}*/

#header
{
width: 100%;
height: 10vw;
display:grid;
text-align:center;
}

@media only screen and (max-width:720px)
{
	#header
	{
		grid-template-columns:100%;
		grid-template-rows:33% 33% 33%;
		height:25vh;
		text-align:center;
	}
}

@media only screen and (min-width:721px)
{
	#header
	{
		grid-template-columns: 33% 33% 33%;
		grid-template-rows:99%;
	}
}

.headerLogo
{
	margin-top:auto;
	margin-bottom:auto;
}

.headerLogo > a > img
{
	width:15vw;
	height:auto;
}

@media only screen and (max-width:720px)
{
	.headerLogo > a > img
{
	width:15vw;
	height:auto;
}
}

/*
.headerLogo > a > img:hover
{
	box-shadow: inset 10px 10px purple;
}
*/

.headerLink
{
	margin-top:0;
	margin-bottom:auto;
}

.headerLink > a > h2
{
	color:white;
    font-family:omegaforce_bulletregular;
	font-size:4vw;
}

@media only screen and (max-width:720px)
{
	.headerLink > a > h2
{
	color:white;
    font-family:omegaforce_bulletregular;
	font-size:5vw;
}
	
}

a:link
{
	text-decoration:none;
	color:black;
}

a:hover > h2
{
	text-decoration:none;
	color:#A49BD5;
}



a:active
{
	text-decoration:none;
	color:#55489D;
}

a:visited
{
	text-decoration:none;
	color:black;
}

#intro
{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	color:black;
    font-family:Gotham, Helvetica, Arial;
}

#intro > h2
{
	font-size:4vh;
	font-weight:normal;
}

#links
{
 width:80%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 margin-top:5vh;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #links
 {
  width:85%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:5vh;
 }
}

@media only screen and (min-width:1081px)
{
 #links
 {
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:10vh;
 }
}

#linkGrid
{
 display:grid;
 grid-template-columns:100%;
 justify-content:center;
 grid-template-rows:auto auto auto;
 grid-row-gap:20px;
 text-align:center;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #linkGrid
 {
  display:grid;
  grid-template-columns:100%;
  grid-template-rows:auto auto auto;
  grid-row-gap:20px;
  justify-content:center;
  text-align:center;
 }
}

@media only screen and (min-width:1081px)
{
 #linkGrid
 {
  display:grid;
  grid-template-columns:30% 30% 30%;
  grid-template-rows:auto;
  grid-column-gap:20px;
  justify-content:center;
 }
}

.dd
{
 background-color:#A49BD5;
 border-style:solid;
 border-width:3px;
 border-color:black;
 border-radius:10px;
}

.dd > h3
{
 font-family:Gotham, Helvetica, Arial;
 color:black;
 font-size:5vh;
}

.dd > p
{
 font-family:Gotham, Helvetica, Arial;
 color:black;
 font-size:3vh;
}

#dropdowns
{
 width:80%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 margin-top:5vh;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #dropdowns
 {
  width:85%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:5vh;
 }
}

@media only screen and (min-width:1081px)
{
 #dropdowns
 {
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:10vh;
 }
}

#ddGrid
{
 display:grid;
 grid-template-columns:100%;
 justify-content:center;
 grid-template-rows:auto auto auto;
 grid-row-gap:20px;
 text-align:center;
}

@media only screen and (min-width:721px) and (max-width:1080px)
{
 #ddGrid
 {
  display:grid;
  grid-template-columns:100%;
  grid-template-rows:auto auto auto;
  grid-row-gap:20px;
  justify-content:center;
  text-align:center;
 }
}

@media only screen and (min-width:1081px)
{
 #ddGrid
 {
  display:grid;
  grid-template-columns:30% 30% 30%;
  grid-template-rows:auto;
  grid-column-gap:20px;
  justify-content:center;
 }
}

.dd
{
 background-color:#55489d;
 border-style:solid;
 border-width:5px;
 border-color:black;
 border-radius:20px;
}

.dd > h1
{
 font-family:Gotham, Helvetica, Arial;
 color:black;
 font-size:5vh;
}

.dd > p
{
 font-family:Gotham, Helvetica, Arial;
 color:black;
 font-size:3vh;
}


/* ------------------------------------Fonts------------------------------------- */

@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_3d_italicitalic';
    src: url('https://midnightmonsters.net/css/fonts/omegaforce3ditalic-0err-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforce3ditalic-0err-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_3dregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforce3dregular-4ovx-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforce3dregular-4ovx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_bullet_italicIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcebulletitalic-weae-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcebulletitalic-weae-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_bulletregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcebulletregular-ezy6-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcebulletregular-ezy6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_condensedcondensed';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcecondensed-az1r-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcecondensed-az1r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_condensed_italCnIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcecondenseditalic-emen-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcecondenseditalic-emen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_expandedexpandedIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceexpandeditalic-z3am-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceexpandeditalic-z3am-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_expandedexpanded';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceexpanded-ox94-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceexpanded-ox94-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_gradient_italicIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcegradientitalic-xzqk-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcegradientitalic-xzqk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_gradientregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcegradientregular-3e2l-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcegradientregular-3e2l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_halftone_3d_italIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcehalftone3ditalic-ab1l-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcehalftone3ditalic-ab1l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_halftone_3dregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcehalftone3dregular-d98w-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcehalftone3dregular-d98w-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_halftone_italicIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcehalftoneitalic-qzd2-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcehalftoneitalic-qzd2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_halftoneregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcehalftoneregular-pzlk-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcehalftoneregular-pzlk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_italicitalic';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceitalic-vaez-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceitalic-vaez-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_laser_italicitalic';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcelaseritalic-g2mq-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcelaseritalic-g2mq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_laserregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcelaserregular-j7va-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcelaserregular-j7va-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_leftalicitalic';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceleftalic-jzqr-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceleftalic-jzqr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_outline_italicIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceoutlineitalic-5zkb-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceoutlineitalic-5zkb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_outlineregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceoutlineregular-zz10-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceoutlineregular-zz10-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforceregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforceregular-ozpa-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforceregular-ozpa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_twotone_italicIt';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcetwotoneitalic-yznm-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcetwotoneitalic-yznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'https://midnightmonsters.net/css/fonts/omegaforce_twotoneregular';
    src: url('https://midnightmonsters.net/css/fonts/omegaforcetwotoneregular-632g-webfont.woff2') format('woff2'),
         url('https://midnightmonsters.net/css/fonts/omegaforcetwotoneregular-632g-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





