@charset "utf-8";

/* MEYERWEB CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYERWEB CSS RESET */

body
{
	margin:0 0 0 0;
	background-color:black;
}

#header
{
width: 100%;
height: 16vw;
background-image:linear-gradient(#000000, #55489d);
display:grid;
}

#discordheader
{
    background-image:linear-gradient(#000000, #55489d);
}


@media only screen and (max-width:720px)
{
	#header
	{
		grid-template-columns:100%;
		grid-template-rows:40% 15% 15% 15% 15%;
		height:50vh;
		text-align:center;
	}
}

@media only screen and (min-width:721px)
{
	#header
	{
		grid-template-columns:30% 17% 17% 17% 17%;
		grid-template-rows:100%;
	}
}

.headerLogo
{
	margin-top:auto;
	margin-bottom:auto;
	margin-left: 20px;
}

.headerLogo > a > img
{
	width:15vw;
	height:auto;
}

@media only screen and (max-width:720px)
{
	.headerLogo > a > img
{
	width:15vw;
	height:auto;
}
}

/*
.headerLogo > a > img:hover
{
	box-shadow: inset 10px 10px purple;
}
*/

.headerLink
{
	margin-top:auto;
	margin-bottom:auto;
}

.headerLink > a > h1
{
	color:white;
    font-family:omegaforce_outlineregular;
	font-size:2vw;
}

@media only screen and (max-width:720px)
{
	.headerLink > a > h1
{
	color:white;
    font-family:omegaforce_outlineregular;
	font-size:5vw;
}
	
}

a:link
{
	text-decoration:none;
	color:black;
}

a:hover > h1
{
	text-decoration:none;
	color:#55489D;
}



a:active
{
	text-decoration:none;
	color:#55489D;
}

a:visited
{
	text-decoration:none;
	color:black;
}

#main
{
	width:100%;
	background-color:#202225;
}

#discordHeader
{
	height: 50vh;
	width:100%;
	text-align:center;
	background-color:black;
}

.invite
{
	background-color:black;
	float: left;
	height:85%;
	width:100%;
	text-align:center;
	padding-bottom:0vh;
	padding-right:0vh;
}


/* .twitch-embed
{
	position: relative;
	background-color:black;
	float: left;
	height:90vh;
	width:100vh;
	text-align:center;
	padding-bottom:2vh;
	padding-right:0vh;
	display:inline-block;
	
} */
@media only screen and (min-width:720px)
{
	.invite
	{
		width:47%;
	}
}

@media only screen and (max-width:720px)
{
	.invite
	{
		width:100%;
	}
}

@media only screen and (min-width:1080px)
{
	.invite > h2
	{
		font-size:4vh;
	}
	.invite > h2 > a
	{
		font-size:4vh;
	}
}

@media only screen and (max-width:1079px)
{
	.invite > h2
	{
		font-size:2.5vh;
	}
	.invite > h2 > a
	{
		font-size:2.5vh;
	}
}

.invite > h2
{
	font-family: Arial, Helvetica;
    color: white;
}

.invite > h2 > a
{
	font-family: "omegaforce_3dregular", Monaco, monospace;
    color: white;
}

.invite > h2 > a:hover
{
	color:#55489D;
}

.invite > h2 > a:active
{
	color:#55489D;
}


/*
Added in CSS for twitch embed, if this comment is still here, it worked


@media only screen and (min-width:720px)
{
	.twitch-embed
	{
		width:47%;
	}
}

@media only screen and (max-width:720px)
{
	.twitch-embed
	{
		width:100%;
	}
}

@media only screen and (min-width:1080px)
{
	.twitch-embed > h2
	{
		font-size:4vh;
	}
	.twitch-embed > h2 > a
	{
		font-size:4vh;
	}
}

@media only screen and (max-width:1079px)
{
	.twitch-embed > h2
	{
		font-size:2.5vh;
	}
	.twitch-embed > h2 > a
	{
		font-size:2.5vh;
	}
}

.twitch-embed > h2
{
	font-family: Arial, Helvetica;
    color: white;
}

.twitch-embed > h2 > a
{
	font-family: "Lucida Console", Monaco, monospace;
    color: white;
}

.twitch-embed > h2 > a:hover
{
	color:#55489D;
}

.twitch-embed > h2 > a:active
{
	color:#55489D;
}

*/

#gameLinks
{
	width:100%;
	text-align:center;
	background-color:#202225;
}

.glRow
{
	width:100%;
	text-align:center;
	float:right;
	background-color:#202225;
}

.gameBox
{
	background-color:#202225;
	border-style:solid;
	border-width:3px;
	border-color:black;
	border-radius:3px;
	float:left;
	box-sizing:border-box;
	display:flex;
	margin-top:2vh;
	margin-bottom:2vh;
}

@media only screen and (min-width:1080px)
{
	.gameBox
	{
		width: 40%;
		margin-left:2vw;
		margin-right:2vw;
	}
}

@media only screen and (max-width:1079px)
{
	.gameBox
	{
		width: 100%;
		flex-wrap: wrap;
	}
}

.gbTitle
{
	background-color:black;
	text-align:center;
	padding-top:0;
	padding-bottom:0;
	float:left;
}

@media only screen and (min-width:720px)
{
	.gbTitle
	{
		width: 25%;
	}
}

@media only screen and (max-width:719px)
{
	.gbTitle
	{
		width: 100%;
	}
}

.gbTitle > h3
{
	color:white;
	font-size:3vh;
	text-align:center;
	font-family:Arial, Helvetica, Sans-Serif;
}

@media only screen and (min-width:1080px) and (max-width:1440px)
{
	.gbTitle > h3
	{
		font-size:2.25vh;
	}
}

.gbLinks
{
	margin-top:auto;
	margin-bottom:auto;
	float:left;
}

@media only screen and (min-width:720px)
{
	.gbLinks
	{
		width: 75%;
	}
}

@media only screen and (max-width:719px)
{
	.gbLinks
	{
		width: 100%;
	}
}

.gbLinks > ul 
{
	list-style-type:none;
}

.gbLinks > ul > li
{
	text-align:left;
	margin: 0 0 1.5vh 0;
}

.gbLinks > ul > li > a
{
	color:white;
	font-size:2vh;
	text-align:left;
	font-family:Arial, Helvetica, Sans-Serif;
}

.gbLinks > ul > li > a:hover
{
	color:#55489D;
}

.gbLinks > ul > li > a:active
{
	color:#55489D;
}

/* ------------------------------------Fonts------------------------------------- */

@font-face {
    font-family: 'omegaforce_3d_italicitalic';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforce3ditalic-0err-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforce3ditalic-0err-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_3dregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforce3dregular-4ovx-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforce3dregular-4ovx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_bullet_italicIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcebulletitalic-weae-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcebulletitalic-weae-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_bulletregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcebulletregular-ezy6-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcebulletregular-ezy6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_condensedcondensed';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcecondensed-az1r-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcecondensed-az1r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_condensed_italCnIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcecondenseditalic-emen-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcecondenseditalic-emen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_expandedexpandedIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceexpandeditalic-z3am-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceexpandeditalic-z3am-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_expandedexpanded';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceexpanded-ox94-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceexpanded-ox94-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_gradient_italicIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcegradientitalic-xzqk-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcegradientitalic-xzqk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_gradientregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcegradientregular-3e2l-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcegradientregular-3e2l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_halftone_3d_italIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftone3ditalic-ab1l-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftone3ditalic-ab1l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_halftone_3dregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftone3dregular-d98w-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftone3dregular-d98w-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'omegaforce_halftone_italicIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftoneitalic-qzd2-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftoneitalic-qzd2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_halftoneregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftoneregular-pzlk-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcehalftoneregular-pzlk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_italicitalic';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceitalic-vaez-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceitalic-vaez-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_laser_italicitalic';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcelaseritalic-g2mq-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcelaseritalic-g2mq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_laserregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcelaserregular-j7va-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcelaserregular-j7va-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_leftalicitalic';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceleftalic-jzqr-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceleftalic-jzqr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_outline_italicIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceoutlineitalic-5zkb-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceoutlineitalic-5zkb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_outlineregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceoutlineregular-zz10-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceoutlineregular-zz10-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforceregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforceregular-ozpa-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforceregular-ozpa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_twotone_italicIt';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcetwotoneitalic-yznm-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcetwotoneitalic-yznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'omegaforce_twotoneregular';
    src: url('https://www.midnightmonsters.net/css/fonts/omegaforcetwotoneregular-632g-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/omegaforcetwotoneregular-632g-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('https://www.midnightmonsters.net/css/fonts/lanenar-webfont.woff2') format('woff2'),
         url('https://www.midnightmonsters.net/css/fonts/lanenar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

